img {
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    height: 350px;
    object-fit: cover;
}
.hov{
    border-radius: 8px;
}
.hov img{
    transition: all .5s;
}
.hov img:hover{
    transform: scale(1.2);
}
  